body {
  color: gray;
  font-family: monospace;
}

strong {
  color: green;
}

div#externa {
  border: 10px solid black;
  padding: 30px;
  width: 200px;
  height: 100px;
  background-color: maroon;
}

div#interna {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
